* {
  color: grey;
}
.tomato {
  width: 300px;
  /*line-height: 300px;*/
  height: 300px;
  border: 4px solid salmon;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  font-size: 40px;
}
.time, .break {
  width: 300px;
  height: 200px;
  border:1px solid salmon;/*Just for size and position*/
}
button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: salmon;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
#appState, #reset {
  width: 75px;
  height: 50px;
}
span {
  display: inline-block;
  width: 120px;
  background-color: lightblue;
  text-align: center;
}
