@import url('https://fonts.googleapis.com/css?family=Pangolin');
body {
  font-family: 'Pangolin', cursive;
}
.container {
  width: 60%;
  text-align: center;
  margin: auto;
  color: grey;
}
.quoteWell {
  /*background-color: lightblue;*/
  border-radius: 10%;
  padding: 10px;
  border: 1px solid grey;
  /*min-height: 150px;*/
}
.button {
  background-color: #0275d8;
  width: 15%;
  line-height: 25px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  outline: 0;
}
.button::-moz-focus-inner {
  border: 0;
}

@media only screen and (max-width: 500px) {
    .container {
      width: 100%;
    }
  .button {
    width: 20%;
  }
}