@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  text-align: center;
  background: #2b3038;
  color: white;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 60px;
}
p {
  font-weight: bold;
  font-size: 20px;
}
i {
  width: 80px;
  height: 80px;
  font-size: 60px;/*to increase icon size*/
}
a {
  color: green;
  text-decoration: none;
}
