.icon {
  /*display: inline-block;*/
  float: left;
  position: relative
}
.cloud {
  width: 200px;
  height: 100px;
  /*background: lightblue;*/
  background: grey;
  /*border: 5px solid darkblue;*/
  background: linear-gradient(top, grey 25%, #d6f0fd 100%);
  background: -webkit-linear-gradient(top, grey 25%, #d6f0fd 100%);
  background: -moz-linear-gradient(top, grey 25%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, grey 25%, #d6f0fd 100%);
  background: -o-linear-gradient(top, grey 25%, #d6f0fd 100%);
  border-radius: 100px;
  position: relative;
  top: 100px;
  left: 50px;
}
.cloud::before, .cloud::after {
  content: "";
  /*border: 5px solid darkblue;*/
  background: grey;
  border-radius: 50%;
  position: absolute;
  z-index: -1
}
.cloud::after {
  top: -60px;
  left: 70px;
  width: 100px;
  height: 100px;
}

.cloud::before {
  top: -30px;
  left: 30px;
  width: 70px;
  height: 70px;
}

.thunder {
  list-style-type: none;
  transform: scale(.5) rotate(30deg);
  position: relative;
  /*z-index: -1;*/
  /*left: -100px;
  top: 100px;*/
}
.bolt {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 80px 30px;
  border-color: transparent transparent gold transparent;
  /*border-right: 50px solid gold;
  border-bottom: 100px solid gold;*/
  position: relative;
  /*position: absolute;*/
  left: 150px;
  top: 110px;
}
.bolt::after, .bolt::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 80px 30px;
  border-color: transparent transparent gold transparent;
  position: absolute;
  top: 70px;
  left: -10px;
  transform: rotate(180deg);
}
.bolt:nth-child(even) {
  position: absolute;
  transform: scale(.8);
  top:100px
  right: 120px;
}
.rain {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  float: left;
  position: relative;
  left: 20px;
  top: 70px;
  transform: rotate(10deg);
  z-index: -1;
}
.drop {
  width: 5px;
  height: 20px;
  margin-bottom: 3px;
  background: lightblue;
  box-shadow: 12px 0px 2px lightblue,
              24px 0px 0 lightblue,
              36px 0px 2px lightblue,
              48px 0px 0 lightblue,
              60px 0px 2px lightblue;
  /*transform: scale(.8);*/
  /*transform: rotate(30deg);*/
}
/*.drop:nth-child(n+2) {
  width: 10px;
  height: 20px;
  background: lightblue;
  transform: scale(.8);
}
.drop:nth-child(n+3) {
  width: 10px;
  height: 20px;
  background: lightblue;
  transform: scale(.7);
}
.drop:nth-child(n+4) {
  width: 10px;
  height: 20px;
  background: lightblue;
  transform: scale(.6);
}*/
.fog .line {
  width: 160px;
  height: 5px;
  /*background: transparent;*/
  /*border: none;*/
  /*position: relative;*/
  left: 0px;
  box-shadow: 10px 110px 2px grey,
              10px 119px 2px grey,
              10px 128px 2px grey,
              10px 137px 2px grey,
              10px 146px 2px grey,
              10px 155px 2px grey;
  z-index: 2;
}
.sun {
  width: 170px;
  height: 170px;
  background: gold;
  border-radius: 50%;
  position: relative;
  left: 90px;
  top: 50px;
}
.rays {
  width: 10px;
  height: 30px;
  background: gold;
  position: relative;
  left: 80px;
  top: -40px;
  z-index: 5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 220px gold;
}
.rays::before,
.rays::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 10px;
  height: 30px;
  transform: rotate(60deg);
  transform-origin: 50% 120px;
  background: gold;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 210px gold;
}
.rays:before {
  transform: rotate(120deg);
}
.moon {
  width: 170px;
  height: 170px;
  /*border: 5px solid black;*/
  border-radius: 50%;
  box-shadow: -50px 50px 0px #888888;
  position: relative;
  left: 170px;
  top: 0px;
}
.star {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 30px 15px;
  border-color: transparent transparent #191970 transparent;
  position: relative;
}
.star::after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 30px 15px;
  border-color: transparent transparent #191970 transparent;
  position: absolute;
  /*top: 30px;
  left: -50px;*/
  transform: rotate(180deg);
  left: -18px;
  top: 10px;

}
.star:nth-child(n+1) {
  transform: scale(.8);
}
.star:nth-child(1) {
  left: 30px;
  top: 20px;
}
.star:nth-child(2) {
  left: 60px;
  top: 20px;
}
.star:nth-child(3) {
  left: 30px;
  top: -20px;
}
.star:nth-child(4) {
  left: 60px;
  top: -30px;
}
